# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Environnement
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# MongoDB
mongo_data/

# Node (si build frontend)
node_modules/
frontend/dist/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
